/* style.css */
#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#maze {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 2px;
}
.cell {
  width: 40px;
  height: 40px;
  background-color: #eee;
  border: 1px solid #ccc;
}
.wall {
  background-color: #333;
}
.player {
  background-color: blue;
}
.exit {
  background-color: green;
}
